<nav class="header">
  <div class="header__content flex justify-content__sb">
    <div class="flex align-items__center">
      <span class="logo__text">jerseyMaker</span>
    </div>
    <div class="nav">
      <label for="menu__toogle" class="menu__toogle--label" aria-label="Toogle Menu"></label>
      <input type="checkbox" id="menu__toogle" class="menu__toogle">
      <div class="menu__overlay"></div>
      <ul class="menu flex align-items__center justify-content__sb">
        <li class="menu__item">
          <a routerLink="/">Home</a>
        </li>
        <li class="menu__item">
          <a routerLink="/jersey">Make a Jersey</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
