<div class="banner">
  <h1>Create & Customize your jersey</h1>
  <svg xlmns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100,100,0,100,100" />
  </svg>
</div>
<section class="flex">
  <p class="heading">How it Works</p>
  <div class="content">
    <p>
        Every part of the jersey is customizable.
        Select a badge, shirt sponsor, competition badge, select colors for your jersey and more.
    </p>
  </div>
</section>
<section class="flex">
  <div class="image__div">
      <img src="assets/images/monaco.png" alt="">
  </div>
  <div class="content">
    <h3>Customize Anything and Everything</h3>
    <p>
      Customize every aspect of your jersey. And we mean everything!!!
    </p>
  </div>
</section>
