<div class="banner">
  <h1>Create & Customize your jersey</h1>
  <svg xlmns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100,100,0,100,100" />
  </svg>
</div>
<section class="flex">
  <p class="heading">How it Works</p>
  <div class="content">
    <p>
        Every part of the jersey is customizable.
        Select a badge, shirt sponsor, competition badge, select colors for your jersey and more.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam odio corrupti. Provident minus repellat tenetur quod architecto ex tempora.
    </p>
  </div>
</section>
<section class="flex">
  <div class="image__div">
      <img src="assets/images/one.jpg" alt="">
  </div>
  <div class="content">
    <h3>Customize Anything and Everything</h3>
    <p>
      Customize every aspect of your jersey. And we mean everything!!!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam placeat ipsam explicabo obcaecati! Architecto facilis harum nisi minima, doloremque corporis?
    </p>
  </div>
</section>
