<div class="card flex justify-content__center">
  <svg [attr.viewBox]="_svgEditor.sourceFromTemplateName.viewBox" [attr.fill]="jersey.pricolor" [attr.font-family]="jersey.font" class="sizeSvg" #svgNodeRef>
      <svg:use xlink:href="#base" />
      <svg:defs  app-jersey-base-svg [baseSvgContent]="_svgEditor.sourceFromTemplateName.svg_path">
      </svg:defs>
      <svg:text [attr.fill]="jersey.seccolor" font-weight="bold"  font-size="50" [attr.x]="numberCoords.x" [attr.y]="numberCoords.y" >{{ jersey.number }}</svg:text>
      <svg:text [attr.fill]="jersey.seccolor" font-size="40" [attr.x]="jerseyTextCoords.x" [attr.y]="jerseyTextCoords.y" #jerseyTextRef>{{ jersey.text }}</svg:text>
      <svg:image [attr.x]="badgeCoords.x" [attr.y]="badgeCoords.y" width="50" height="50" [attr.href]="_svgEditor.badgeUrlFromBadgeName" />
  </svg>
</div>
