option {
  &.serif {
    font-family: serif;
  }

  &.sans-serif {
    font-family: sans-serif;
  }

  &.lato {
    font-family: 'Lato';
  }

  &.roboto {
    font-family: 'Roboto';
  }

  &.helvetica {
    font-family: Helvetica;
  }

  &.montserrat {
    font-family: 'Montserrat'
  }
}

.input__row {
  display: flex;
  justify-content: center;
  margin: 5px 0;

  &--input {
    width: 40%;
    box-sizing: content-box;
    padding: 1px 5px;
    border-width: 1px;
    border-radius: 5px;
  }

  &--select {
    border-width: 2px;
  }

  &--label {
    width: 40%;
    font-size: 0.9em;
    font-weight: bold;
  }

  &:last-of-type {
    margin-bottom: 15px;
  }
}

