option {
  .serif {
    font-family: serif;
  }

  .sans-serif {
    font-family: sans-serif;
  }

  .lato {
    font-family: 'Lato';
  }

  .roboto {
    font-family: 'Roboto';
  }

  .helvetica {
    font-family: Helvetica;
  }

  .montserrat {
    font-family: 'Montserrat'
  }
}

.input__row {
  display: flex;
  justify-content: center;
  margin: 5px 0;

  &--input {
    width: 40%
  }

  &--select {
    width: 40%;
  }

  &--label {
    width: 40%;
    font-size: 0.9em;
    font-weight: bold;
  }
}
