<div class="">
    <div class="">
      <h3>Badges and Crests</h3>
      <p class="">Select any crest you would like for your jersey.</p>
    </div>
  </div>

  <div class=" " *ngFor="let asset of badges">
    <label class="">
      <img [src]="asset.src">
      <input
        type="radio"
        name="badge"
        [(ngModel)]="badgeName"
        (change)="selectBadge()"
        [value]="asset.title">
    </label>
  </div>

  <ng-template [ngIf]="badgeName">
    <div class=" ">
        <div class="text-center">
          <p class="">
          Select the position of the badge
          </p>
        </div>
    </div>
    <div class="  pos_home">
      <label class="pos_dis t-{{side}}" *ngFor="let side of sides">{{ side | titlecase }}
        <input
          type="radio"
          name="badge_position"
          [(ngModel)]="badgePosition"
          (change)="selectBadgePosition()"
          [value]="side">
      </label>
    </div>
  </ng-template>

