<div class="flex-column align-items__center justify-content__center space">
  <ng-template [ngIf]="(jerseyState$ | async).complete">
    <div class="row">
      <p class="text-center">
        <strong>Congratulations!</strong> You've created a custom jersey. Would you like to <a (click)="newJersey()" routerLink="/jersey" class="alert-link">create another?</a>
        or continue <a routerLink="/jersey">customizing</a>
      </p>
    </div>
    <app-jersey-preview [jersey]="(jerseyState$ | async)"></app-jersey-preview>
    <canvas #canvasRef class="display--none"></canvas>
    <p class="text-center">
        <button class="button" (click)="initiateDownload()">
          Download Jersey
          <a #downloadLinkRef class="display--none"></a>
        </button>
    </p>
  </ng-template>

  <ng-template [ngIf]="!(jerseyState$ | async).complete">
    <p class="text-center">
      <strong>Oops!</strong> You haven't customized a jersey yet. <a routerLink="/jersey" class="alert-link">Click here to create one now.</a>
    </p>
  </ng-template>
</div>
